.mainIndex {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.principalImg {
    flex: 1 1 300px; 
    display: flex;
    justify-content: center;    
    max-width: 40%;
}

.principalImg img {   
   width: 100%; 
   height: auto;
   object-fit: cover;
}


nav a {
    
    color: #c2c2c2;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}


nav a:hover {
    color: #ff9900; 
    transform: scale(1.05); 
}