.personajes {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.personajes li {
    
    padding: 20px;
    border: 1px solid #777;
    background-color: rgba(10, 9, 9, 0.1);
    flex: 1 1 300px;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;
}

.personajes li img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}