.main404 {
    text-align: center;
    padding: 100px 50px;
    background-color: rgba(10, 9, 9, 0.1);
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 36px;
}

.main404 h1 {
    font-size: 6em;
    color: #000000;
    margin-bottom: 10px;
}

.main404 h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main404 p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-volver {
    display: inline-block;
    background-color: #ff9900;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

.btn-volver:hover {
    background-color:#e68a00 ;
}