.mainConfirmacion {
    text-align: center;
    padding: 100px 50px;
    margin-top: 50px;
    margin-bottom: 123px;
}

.mensajeSec {
    padding: 40px;
}

.mensajeSec h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.mensajeSec p {
    font-size: 1.3em;
    margin-bottom: 30px;
}

.btn-volver {
    display: inline-block;
    background-color: #ff9900;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

.btn-volver:hover {
    background-color:#e68a00 ;
}