.mainContacto {
    margin-bottom: 50px;
}

.formContact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba (10, 9, 9, 0.1);
    border-radius: 10px;
}

.grupoForm {
    display: flex;
    flex-direction: column;
}

.formContact label {
    margin-bottom: 5px;
    color: #000000;
}

.formContact input, .formContact textarea {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: white;
    color: black;   
    font-size: 16px;
}

.formContact textarea {
    resize: vertical;
}

.btn-enviar {
    background-color: #ff9900;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #e68a00;
}

.redesSoc {
    text-decoration: none;
    color: white;
}

i {
    margin-bottom: 10px;
}


.fa-instagram:before, .fa-facebook-f:before, .fa-twitter:before, .fa-youtube:before {
    margin-right: 50px;
    
}