.mainIndex {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.principalImg {
    flex: 1 1 300px; 
    display: flex;
    justify-content: center;    
    max-width: 40%;
}

.principalImg img {   
   width: 100%; 
   height: auto;
   object-fit: cover;
}


