.personajes {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.personajes li {    
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid;
    background-color: rgba(10, 9, 9, 0.1);
    flex: 1 1 300px;
    max-width: 400px;
}
.personajes li h3 {
    margin-top: 0; 
}

.personajes li p {
    flex-grow: 1; 
}

.personajes li img {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    object-fit: cover;
    border-radius: 5px;
}