.mainSerie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 0 10%;
    text-align: justify;
}

.mainSerie img {
    width: 50%;
    max-width: 600px;
}

.divVideo h2 {
    display: flex;
    justify-content: center;

}