.divTemporadas {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid;
    background-color: rgba(24, 22, 22, 0.1);
    border-radius: 10px;
    flex-direction: column;
}


.divTemporadas h3, .divTemporadas p {
    display: flex;    
    justify-content: center;
    min-width: 50%;
}


.temporadasImg {
    flex: 0 0 auto;
    height: auto;
    max-width: 40%;
    border-radius: 8px;
    border: none;
    display: block;
}

.temporadasImg:hover {
    transform: scale(1.05);
}